<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>전적검색</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
  <main class="container">
    <h1>전적검색</h1>
  <h4>전적검색 해봐라</h4>
  <form action="/search">
    <input type="text" name="name" id="name" placeholder="Write name" />
    <button>Search</button>
  </form>
  </main>
</body>
</html>